Localization
{
	zh-cn
	{
		//Leopard
		#LOC_KP_Leopard_title = J-250“豹”加力涡扇发动机
		#LOC_KP_Leopard_description = 一台大型高性能喷气发动机，可长时间维持加力。需要蛮力时，它是不二之选。但油门响应较慢，起飞滑跑和着陆进近距离都会比一般情况更长。
		
		//Tiger
		#LOC_KP_Tiger_title = J-22“虎”加力涡扇发动机
		#LOC_KP_Tiger_description = 一台小型高性能喷气发动机，无矢量能力，并配有加力燃烧室来提供额外推力。
		
		//Jolt
		#LOC_KP_Jolt_title = J-X5“震击”涡轮冲压发动机
		#LOC_KP_Jolt_description = 一台采用航天级材料打造的高度先进发动机，性能极高。这种小型型号在较高海拔和较高速度下表现最佳，但不像它更大的同系列型号那样具备矢量能力。
		
		//Zephyr
		#LOC_KP_Zephyr_title = J-U16“和风”无涵道涡扇发动机
		#LOC_KP_Zephyr_description = 一项旨在提高涡扇发动机效率的实验性设计。这台笨重的发动机有 16 片外置风扇叶片。Triple-Dip Systems 对人员受伤或肢体断离概不负责。
		
		//Puma
		#LOC_KP_Puma_title = J-505“美洲狮”加力涡扇发动机
		#LOC_KP_Puma_description = 一台高性能喷气发动机，具备二维推力矢量和隐身喷口外形。

		//Jaguar
		#LOC_KP_Jaguar_title = J-410“美洲豹”加力涡扇发动机
		#LOC_KP_Jaguar_description = 一台高性能加力涡扇发动机，配有推力矢量喷口。业内专家一直对这款发动机的存在颇有怨言，因为要找出它与 C7 Aerospace 热门 J-404 型号之间的实质区别，既困难又无聊。

		//Lion
		#LOC_KP_Lion_title = J-511“狮”矢量加力涡扇发动机
		#LOC_KP_Lion_description = 一台性能极高的喷气发动机，配有加力燃烧室和三轴承旋转喷口，可用于垂直起降。飞行过程中，喷口的大部分动作由复杂的自动化计算机系统控制。Corain Motors 为解决臭名昭著的“一低头就坠毁”问题开展了长期测试，如今使用该部件进行垂直着陆已基本安全。

		//Grumble
		#LOC_KP_Grumble_title = J-3“咕哝”涡扇发动机
		#LOC_KP_Grumble_description = 一台主力低涵道比涡扇发动机，配有一对看起来风光不再的蚌壳式反推。展开它们会让全部排气反向折回，从而大幅缩短着陆滑跑距离。

		//InlineVentilation
		#LOC_KP_InlineVentilation_title = 内置式升力风扇
		#LOC_KP_InlineVentilation_description = 这台风扇由工业暖通空调设备改装而来，可产生大量冷推力，并采用可垂直整合进飞机机身的设计。Corain Motors 为解决臭名昭著的“一低头就坠毁”问题开展了长期测试，如今使用该部件进行垂直着陆已基本安全。
    }
}